<style>
  body {
    background-color: #264d73;
  }
</style>
<ion-header>
  <ion-toolbar>
    <ion-title>
      Calculator
    </ion-title>
  </ion-toolbar>
</ion-header>

<!-- <ion-content [fullscreen]="true"> -->
<ion-content style="background-color: #264d73;" class="ion-text-start">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header> -->
  <div class="m-1"></div>

  <div style="background-color: #a3c2c2;">
    <ion-item class="border-bottom-0" style="background-color: #a3c2c2;" lines="none">
      <ion-input class="rounded-top" (click) = "todo($event)" style="background-color: #a3c2c2; font-family:'digital-clock-font', sans-serif; font-size:35px;" [(ngModel)]="math"></ion-input> 
    </ion-item>
    <ion-item class="ion-text-end border-top-0" lines="none">
      <ion-input maxlength="21" class="rounded-bottom" style="background-color: #a3c2c2; font-family:'digital-clock-font', sans-serif; font-size:35px;" readonly [(ngModel)]="result"></ion-input>
    </ion-item>
  </div>
  <div>
    <ion-grid>
      <ion-row>
        <ion-col size="3">
          <ion-button expand="block" (click)="onButtonPress('percent')" color="tertiary">&#37;</ion-button>
        </ion-col>
        <ion-col size="3">
          <ion-button expand="block" (click)="onButtonPress('ce')" color="tertiary">CE</ion-button>
        </ion-col>
        <ion-col size="3">
          <ion-button expand="block" (click)="onButtonPress('c')" color="tertiary">C</ion-button>
        </ion-col>
        <ion-col>
          <ion-button size="3" expand="block" (click)="onButtonPress('backspace')" color="tertiary">  <ion-icon name="backspace"></ion-icon> </ion-button>
        </ion-col>
     
        <ion-col size="3">
          <ion-button expand="block" (click)="onButtonPress('inverse')" color="tertiary"> 
            <div class="frac">
              <span>1</span>
              <span class="symbol">/</span>
              <span class="bottom">x</span>
            </div>
          </ion-button>
        </ion-col>
        <ion-col size="3">
          <ion-button expand="block" (click)="onButtonPress('square')" color="tertiary">x<sup>2</sup></ion-button>
        </ion-col>
        <ion-col size="3">
          <ion-button expand="block" (click)="onButtonPress('squareroot')" color="tertiary">&radic;<small>x</small></ion-button>
        </ion-col>
        <ion-col>
          <ion-button size="3" expand="block" (click)="onButtonPress('divide')" color="tertiary">&divide;</ion-button>
        </ion-col>
     
        <ion-col size="3">
          <ion-button expand="block" (click)="onNumberPress(7)" color="primary">7</ion-button>
        </ion-col>
        <ion-col size="3">
          <ion-button expand="block" (click)="onNumberPress(8)" color="primary">8</ion-button>
        </ion-col>
        <ion-col size="3">
          <ion-button expand="block" (click)="onNumberPress(9)" color="primary">9</ion-button>
        </ion-col>
        <ion-col>
          <ion-button size="3" expand="block" (click)="onButtonPress('multiple')" color="tertiary">&times;</ion-button>
        </ion-col>
    
        <ion-col size="3">
          <ion-button expand="block" (click)="onNumberPress(4)" color="primary">4</ion-button>
        </ion-col>
        <ion-col size="3">
          <ion-button expand="block" (click)="onNumberPress(5)" color="primary">5</ion-button>
        </ion-col>
        <ion-col size="3">
          <ion-button expand="block" (click)="onNumberPress(6)" color="primary">6</ion-button>
        </ion-col>
        <ion-col>
          <ion-button size="3" expand="block" (click)="onButtonPress('minus')" color="tertiary">&minus;</ion-button>
        </ion-col>
    
        <ion-col size="3">
          <ion-button expand="block" (click)="onNumberPress(1)" color="primary">1</ion-button>
        </ion-col>
        <ion-col size="3">
          <ion-button expand="block" (click)="onNumberPress(2)" color="primary">2</ion-button>
        </ion-col>
        <ion-col size="3">
          <ion-button expand="block" (click)="onNumberPress(3)" color="primary">3</ion-button>
        </ion-col>
        <ion-col>
          <ion-button size="3" expand="block" (click)="onButtonPress('plus')" color="tertiary">&#43;</ion-button>
        </ion-col>
     
        <ion-col size="3">
          <ion-button expand="block" (click)="onNumberPress('.')" color="primary">.</ion-button>
        </ion-col>
        <ion-col size="3">
          <ion-button expand="block" (click)="onNumberPress(0)" color="primary">0</ion-button>
        </ion-col>
        <!-- <ion-col size="3">
          <ion-button expand="block" (click)="onButtonPress('sign')" color="primary">&#177;</ion-button>
        </ion-col> -->
        <ion-col size="3">
          <ion-button expand="block" (click)="onButtonPress('Ans')" color="primary">Ans</ion-button>
        </ion-col>
        <ion-col>
          <ion-button size="3" expand="block" (click)="onButtonPress('equal')" color="tertiary">=</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>


